<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title>Organiser Settings Page ⚙️</title>
    </head>

    <body>
        <h1>Welcome to the Organiser Settings ⚙️ Page</h1>
        <p>Here you can modify the platform information</p>
        <br />
        <!-- link back to organizer home page -->
        <a href="/organizer/home">Back to Organiser Home Page</a>
    </body>
</html>
