<!DOCTYPE html>
<html>
    <head>
        <title>This is New Event page!</title>
    </head>
    <body>
        <h1>This is the New Event page</h1>
        <p>This is an example of a paragraph inside the new events page</p>
    </body>

    <form method="POST" action="/organizer/new-event">
        <!-- Label -->
        <label for="event-name">Name: </label>
        <!-- Inputs -->
        <input
            id="event-name"
            type="text"
            name="event-name"
            value=""
        />
        <br />
        <!-- Label -->
        <label for="event-description">Description: </label>
        <input
            id="event-description"
            type="text"
            name="event-description"
            value=""
        />
        <br />

        <input type="submit" value="OK" />
    </form>
</html>
